@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Righteous", cursive;
}

body {
	color: white;
	text-align: center;
	min-height: 100vh;
	background: rgb(2, 0, 36);
	background: linear-gradient(340deg, rgba(2, 0, 36, 1) 0%, rgba(9, 102, 121, 1) 100%);
}
